.one{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    align-items: center;

}
.one1{

    text-align: center;
    margin: 10px;
    width: 300px;
    font-size: 25px;
    font-weight: 600px;
     background-color: pink;
}
.one2{
    text-align: center;
    margin: 10px;
    width: 300px;
    background-color: lightslategrey;
    font-size: 25px;
    font-weight: 600px;

}
.one3{
    text-align: center;
    margin: 10px;
    width: 300px;
    background-color: rgb(144, 186, 79);
    font-size: 25px;
    font-weight: 600px;

}
.one4{
    text-align: center;
    margin: 10px;
    width: 300px;
    background-color: rgb(0, 131, 175);
    font-size: 25px;
    font-weight: 600px;
}
button{
    background-color: rgb(255, 141, 141) ;
    margin: auto;
    display: block;
    border-radius: 5px;
    width: 100px;

}
p{
    font-size: 15px;
}