body{
    background-color: tan;


}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.container1{
    background-color: #656509;
    border-radius: 25px;
    padding: 25px;
    text-align: center;

}
.card-btn{
    padding: 5px;
    
}
button#decrement{
    border: 0;
    border-radius: 2px;

    background-color: rgb(255, 165, 31);
}
button#decrement:hover{

    background-color: rgb(161, 97, 0);
}
button#reset{
    border: 0;
    border-radius: 2px;
    background-color: rgb(223, 87, 87);
}
button#reset:hover{
    background-color: rgb(243, 0, 0);
}
button#increment{
    background-color: rgb(64, 224, 64);
    border: 0;
    border-radius: 2px;

}
button#increment:hover{
    background-color: rgb(14, 188, 14);
    
}